<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body theme="{{ theme }}">
<button id="day-night-button" class="unselectable" onclick="changeTheme()">
    {{ '🌑' if theme == 'dark' else '☀️' }}
</button>
{% block content %}{% endblock %}
</body>
</html>
